
* {box-sizing: border-box;}

.auth-comp {
    font-family: "Graphik Meetup", helvetica, arial, sans-serif;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 20px;
    background-color: rgb(245,245,245);
}

.auth-form {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    overflow: hidden;
    border-radius: 3px;
    input[type=text], input[type=password] {
        width: 100%;
        padding: 10px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #FAFAFA;
        border: 1px solid #f1f1f1;
    }
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    .login-header {
        border-bottom: 1px solid #888;
        margin-bottom: 10px;
        margin-left: -30px;
        width: 120%;
        h1, p {
            margin: 10px 0;
            margin-left: 30px;
        }
        h1, img {
            display: inline;
        }
    }

    label {
        font-size: 13px;
        font-weight: 550;
    }

    p {
        font-size: 13px;
        font-weight: 550;
    }

    .login-btn {
        background-color: rgb(237, 28, 64);
        border-radius: 3px;
        color: white;
        min-height: 36px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        font-weight: 600;
        outline-style: none;
        cursor: pointer;
    }

    .sign-up-header {
        text-align: center;
        margin-top: .3em;
        margin-bottom: .3em;
    }

    .sign-up-btn {
        background-color: rgb(237, 28, 64);
        border-radius: 3px;
        color: white;
        min-height: 40px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        font-weight: 600;
        outline-style: none;
        width: 100%;
        cursor: pointer;
    }

    .location {
        color: rgba(0, 0, 0, 0.54);
        .location-text {
            font-size: 14px;
            a, a:visited {
                text-decoration: none;
                color: blue;
                font-weight: 400;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }

    .disclaimer1 {
        color: rgba(0, 0, 0, 0.54);
        p {
            font-weight: 400;
            line-height: 20.8px;
        }
    }
    .disclaimer2 {
        color: rgba(0, 0, 0, 0.87);
        p {
            line-height: 20.8px;
            text-align: center;
            font-weight: 400;
        }
        margin-top: 10px;
    }

    .sign-up-btn:hover, .login-btn:hover {
        background-color: rgb(208, 16, 49);
    }

    .already-member {
        margin-top: 10px;
        text-align: center;
        font-weight: 400;
        a, a:visited {
            text-decoration: none;
            color: blue
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.auth-container {
    padding: 16px;
}
