.calendar-events {
    margin: 0 10px;
    border-radius: 3px;
    width: 70%;
    
    .no-events-placeholder {
        text-align: center;
        font-size: 52px;
        font-weight: 700;
    }

    .day-divider {
        padding: 8px 0 8px 16px;
        font-size: 13px;
        font-weight: 800;
        display: block;
    }

    .all-day-events .event-link:nth-child(2) .event-li {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .all-day-events .event-link:last-child .event-li {
        border: 1px solid #888;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    
    .event-link {
        text-decoration: none;

        .event-li {
            color: black;
            cursor: pointer;
            display: flex;
            padding: 10px;
            background-color: white;
            line-height: 25px;

            border: 1px solid #888;
            border-bottom: 0;
            
            .time {
                color: rgba(0,0,0,.54);
                font-size: 16px;
            }
            .content {
                margin-left: 14px;
                .group-name {
                    display: block;
                    color: rgba(0,0,0,.54);
                    font-size: 15px;
                    font-weight: 600;
                    word-spacing: 1.3px;
                }
                .name {
                    display: block;
                    font-size: 20px;
                    font-weight: 600;
                }
                .attendees {
                    display: block;
                    color: rgba(0,0,0,.54);
                    font-size: 16px;
                }
            }
            

        }



    }
}

.splash-calendar-container {
    max-width: 960px;
    font-family: PislenFont, Helvetica, Arial, sans-serif;
    margin: 0 auto;
    display: flex;

    .calendar-side {
        width: 30%;
        .filter {
            background-color: white;
            margin-bottom: 20px;
            li {
                cursor: pointer;
                border: 1px solid #888;
                padding: 8px;
                padding-left: 14px;
                color: rgba(0,0,0,.87);
            }
            .selected {
                font-weight: 700;
                color: rgb(31, 36, 204);
                background-color: rgba(0, 0, 255, 0.05);
                border-left: 5px solid rgb(31, 36, 204);
            }
        }
        .calendar {
            border: 1px solid #888;
            background-color: white;
            height: auto;
            .the-react-calendar {
                width: 100%;
            }
        }
    }

}