.calender-events {

    font-family: PislenFont, Helvetica, Arial, sans-serif;
    margin: 0 10px;
    // border: 1px solid #888;
    border-radius: 3px;

    .event-li:last-child {
        border: 1px solid #888;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .event-li:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .event-li {
        cursor: pointer;
        display: flex;
        padding: 10px;
        max-width: 960px;
        background-color: white;
        margin: 0 auto;
        line-height: 25px;

        border: 1px solid #888;
        border-bottom: 0;
        

        .time {
            color: rgba(0,0,0,.54);
            font-size: 16px;

        }
        .content {
            margin-left: 14px;
            .group-name {
                display: block;
                color: rgba(0,0,0,.54);
                font-size: 15px;
                font-weight: 600;
                word-spacing: 1.3px;
            }
            .name {
                display: block;
                font-size: 20px;
                font-weight: 600;
            }
            .attendees {
                display: block;
                color: rgba(0,0,0,.54);
                font-size: 16px;
            }
        }
        

    }

}