.delete-group-modal {
    // width: 60vh;
    // height: 60vh;

    font-family: PislenFont, Helvetica, Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 6px;

    h1 {
        font-size: 36px;
        text-align: center;
        color: rgb(246, 88, 88);
        font-weight: 700;
        margin: 20px;
    }
    .delete-fields {
        display: flex;
        justify-content: space-around;
        input {
            width: 40%;
            min-width: 206px;
            min-height: 30px;
            border-radius: 4px;
            margin: 10px;
            padding: 10px;
        }
        button {
            width: 40%;
            border-radius: 4px;
            font-size: 14px;
            min-width: 206px;
            min-height: 30px;
            padding: 10px 0;
            margin: 10px;
            font-weight: 600;
            background-color: rgb(246, 88, 88);
            color: white;
        }
        button:disabled {
            background-color: rgb(217, 217, 217);
            color: rgb(162, 162, 162);
        }
    }

}