.logged-in-header-content {
    position: relative;
    height: 460px;
    background-color: rgb(0, 69, 93);
    height: 170px;
    overflow: hidden;
    display: flex;

    .header-text {
        font-family: PislenFont, Helvetica, Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;   
        color: white;     
        width: 100%;
        h1 {
            font-size: 34px;
            font-weight: 600;
            line-height: 42.5px;        
            padding-bottom: 8px;    
        }
        h3 {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.7);
        }
    }

}