.nav-bar {
height: 9vh;
min-height: 80px;
display: flex;
justify-content: space-between;
padding: 20px;
background: white;
align-items: center;
border-bottom: 1px solid #888;
font-family: PislenFont, Helvetica, Arial, sans-serif;
    .logo, .logo:visited {
        text-decoration: none;  
        color: rgb(246, 64, 96);;
        font-size: 40px;   
        // font-family: 'Permanent Marker', cursive;
        font-family: 'Pacifico', cursive;
    }
    .new-group-link, .new-group-link:visited {
        color: rgb(246, 64, 96);
        text-decoration: none;
        font-weight: 700;

        border-right: 1.2px solid #888;
        padding-right: 8px;
    }
    .new-group-link:hover {
        text-decoration: underline;
    }
    .nav-link {
        background-color: white;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.54);
        padding: 10px;
        text-decoration: none;
    }
    .nav-link:hover {
        color: red;
        // cursor: 'pointer';
    }

    // DROPDOWN
    overflow: hidden;

    .nav-dropdown {
        float: right;
        overflow: hidden;
        .dropbtn {
            font-size: 16px; 
            border: none;
            outline: none;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit; 
            margin: 0;
            cursor: pointer;
        }
        .nav-profile-dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            right: 40px;
            margin-top: 10px; 
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            a, .logout-btn {
                float: none;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                color: rgba(0, 0, 0, 0.54);
                border-bottom: 1px solid #888;
            }
            a:last-child {
                border-bottom: 0;
            }
            a:visited, .logout-btn:visited {
                color: rgba(0, 0, 0, 0.54);
            }
        }
        .nav-profile-dropdown-content {
            display: block;
        }
    }

}
// .nav-profile-drop 
// .dropbtn
// .nav-profile-dropdown-content